.btn {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px 24px;
  cursor: pointer;
  user-select: none;
  transition: all .3s ease-in-out;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #0d0d0d;
  border: none;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: none;

  &:hover {
    background-color: #fff;
  }
  &.disabled{
    pointer-events: none;
    background-color: #4D4D4D;
    border-color: #4d4d4d;
    color: #6C6C6C;
  }
}

.btn--dark{
  background-color: #0D0D0D;
  color: #f5f5f5;
  &:hover {
    background-color: #121212;
  }
}

.btn--ghost{
  border: 2px solid #F5F5F5;
  background-color: transparent;
  color: #F5F5F5;
  &:hover {
    background-color: #f5f5f5;
    color: #121212;

  }
}