.btn {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px 24px;
  cursor: pointer;
  user-select: none;
  transition: all .3s ease-in-out;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #0d0d0d;
  border: none;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: none;

  &:hover {
    background-color: #fff;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    pointer-events: none;
    color: #6c6c6c;
    border-color: #4d4d4d;
    background-color: #4d4d4d;
  }
}

.btn--dark {
  color: #f5f5f5;
  background-color: #0d0d0d;

  &:hover {
    background-color: #121212;
  }
}

.btn--ghost {
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  background-color: transparent;

  &:hover {
    color: #121212;
    background-color: #f5f5f5;
  }
}

.btn--cta {
  text-transform: uppercase;
  color: #4d4d4d;
  background-color: #1b1b1b;

  &:hover {
    background-color: #121212;
  }
}

.swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 60px !important;
  height: 60px !important;
  cursor: pointer;
  border-radius: 6px;
  background-color: #1b1b1b;

  &:hover {
    svg {
      opacity: 1;
    }
  }

  svg {
    fill: #f5f5f5;
    width: 10px;
    height: 6px;
    transition: opacity .3s ease-in-out;
    opacity: .5;
  }
}

.swiper-btn--prev {
  border-radius: 4px 0 0 4px;
}

.swiper-btn--next {
  border-radius: 0 4px 4px 0;

  svg {
    transform: rotate(180deg);
  }
}
