.checkout-personal__title {
  margin-bottom: 20px;
}

.checkout-personal__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .input {
    width: calc(50% - 15px);
  }
}
