//begin product-360
.product-360.wrapper#p-360
  //begin left
  .product-360__left
    a(href="/" target="_blank" rel="nofollow noopener noreferrer").product-360__logo
      img(src="assets/img/bifma-cert.svg" alt="img")
  //end left

  //begin middle
  .product-360__middle
    .product-360__middle-image-wrap
      img(src="" alt="").product-360__middle-image
    input(type="range").product-360__middle-range
    input(type="range").product-360__middle-range-slider
  //end middle

  //begin right
  .product-360__right
    .product-360__right-content
      h3.h3.product-360__right-title S1 Senior ErgoChair
      .product-360__right-col
        .product-360__right-row
          .product-360__right-colors
            .product-360__right-color
              input(type="radio" name="color" checked)
              span
                img(src="assets/img/color-01.png" alt="img")
                img(src="assets/img/color-01-active.png" alt="img")
            .product-360__right-color
              input(type="radio" name="color")
              span
                img(src="assets/img/color-02.png" alt="img")
                img(src="assets/img/color-02-active.png" alt="img")
          .product-360__right-price.b-caps $ 399
        .product-360__right-row
          button.btn.btn--dark Купити
  //end right

//end product-360
