//begin product-header
.product-header.wrapper
  //begin left
  .product-header__left
    h4.h4.product-header__title S1 Senior ErgoChair
    .product-header__price.b-caps $ 399
  //end left
  //begin right
  .product-header__right
    include ./product-scroll-nav
  //end right
//end product-header