//begin product-scroll-nav
nav.product-scroll-nav
  ul.product-scroll-nav__list
    li.product-scroll-nav__item
      a(href="#tab").product-scroll-nav__link.cta деталi
    li.product-scroll-nav__item
      a(href="#p-360").product-scroll-nav__link.cta специфiкацiї
    li.product-scroll-nav__item
      a(href="#specif").product-scroll-nav__link.cta характеристики
    li.product-scroll-nav__item
      a(href="#gallery").product-scroll-nav__link.cta галерея
    li.product-scroll-nav__item
      a(href="#faq").product-scroll-nav__link.cta FAQ
button.btn Купити
//end product-scroll-nav