//begin product-360-header
.product-360-header.wrapper
  //begin left
  .product-360-header__left
    h4.h4.product-360-header__title S1 Senior ErgoChair
    .product-360-header__price.b-caps $ 399
  //end left
  //begin right
  .product-360-header__right
    nav.product-360-header__nav
      ul.product-360-header__nav-list
        li.product-360-header__nav-item
          a(href="#").product-360-header__nav-link.cta деталi
        li.product-360-header__nav-item
          a(href="#").product-360-header__nav-link.cta.active специфiкацiї
        li.product-360-header__nav-item
          a(href="#").product-360-header__nav-link.cta характеристики
        li.product-360-header__nav-item
          a(href="#").product-360-header__nav-link.cta галерея
        li.product-360-header__nav-item
          a(href="#").product-360-header__nav-link.cta FAQ
    button.btn.btn--dark Купити
  //end right
//end product-360-header