mixin slide()
  .gallery-slider__slide.swiper-slide
    picture
      source(media="(min-width: 1024px)", srcset="assets/img/gallery/gallery-01@2x.jpg")
      source(srcset="assets/img/gallery/gallery-01.jpg")
      img(src="assets/img/gallery/gallery-01.jpg", alt="Image")
mixin slide2()
  .gallery-slider__slide.swiper-slide
    picture
      source(media="(min-width: 1024px)", srcset="assets/img/bg-about-categories-02@2x.jpg")
      source(srcset="assets/img/bg-about-categories-02.jpg")
      img(src="assets/img/bg-about-categories-02.jpg", alt="Image")

//begin product-gallery
.product-gallery#gallery.product-section
  //begin gallery-slider
  .gallery-slider#gallery-slider
    .swiper-wrapper
      .gallery-slider__slide.swiper-slide
        video(autoplay loop muted playsinline)
          source(src="assets/video/hero-video.mp4", type="video/mp4")
      +slide()
      +slide2()
      +slide()
      +slide2()
      +slide()
      +slide2()
      +slide()
      +slide2()
      +slide()
      +slide2()
      +slide()
      +slide2()
    //- .gallery-slider__btns
      .gallery-slider__btn.swiper-btn.swiper-btn--prev
        +svg('arrow')
      .gallery-slider__btn.swiper-btn.swiper-btn--next
        +svg('arrow')
  //end gallery-slider
  //begin gallery-thumb-slider
  .gallery-thumb-slider#gallery-thumb-slider
    .swiper-wrapper
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-01.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-01.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-02.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-03.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-04.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-05.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-06.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-04.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-05.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-06.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-07.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-08.jpg' alt='img')
      .gallery-thumb-slider__slide.swiper-slide
        img(src='assets/img/gallery/thumb/gallery-09.jpg' alt='img')
  //end gallery-thumb-slider
//end product-gallery