.accessories__inner {
  width: calc(100% + 20px);
  min-height: 100vh;
  margin-left: -10px;
  padding: 60px 10px;
  background-image: url('../img/bg-accessories.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include min(768) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  @include min(1024) {
    width: 100%;
    min-height: 600px;
    margin-left: 0;
    padding: 30px;
    border-radius: 8px;
    background-image: url('../img/bg-accessories@2x.jpg');
  }
}

.accessories__title {
  margin-bottom: 10px;
}

.accessories__text {
  margin-bottom: 30px;
}
