.popular {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 80px;

  @include min(1024) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.popular__title {
  margin-bottom: 30px;

  @include min(768) {
    margin-bottom: 60px;
  }
}

.popular__slider {
  position: relative;
  margin-bottom: 30px;
}

.popular-slider__btns {
  display: none;

  @include min(768) {
    position: absolute;
    top: -120px;
    right: 0;
    display: flex;
  }
}

.popular-slider__btn {
  margin-left: 2px;
}

.popular__all-btn {
  width: 100%;
}
