.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @include min(1024) {
    flex-direction: row;
    margin-bottom: 120px;
  }
}

.products--tables {
  .products__left {
    justify-content: flex-end;
    background-image: url('../img/tables.jpg');

    @include min(1200) {
      background-image: url('../img/tables@2x.jpg');
    }
  }
}

.products__left {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 60px 10px;
  background-image: url('../img/chairs.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include min(768) {
    padding: 60px 20px;
  }
  @include min(1024) {
    position: sticky;
    width: 50%;
    padding: 60px 32px;
  }
  @include min(1200) {
    padding: 80px 60px;
    background-image: url('../img/chairs@2x.jpg');
  }
}

.products__title {
  margin-bottom: 10px;
}

.products__text {
  max-width: 640px;
  margin-bottom: 32px;
}

.products__right {
  width: 100%;

  @include min(1024) {
    width: 50%;
  }
}

.products__right-sequence {
  position: relative;
  height: 1000vh;
}

.products__right-progress {
  position: fixed;
  right: 50%;
  bottom: 0;
  overflow: hidden;
  width: 6px;
  height: 70px;
  transition: all .5s ease-in-out;
  transform: rotate(-90deg);
  pointer-events: none;
  opacity: 0;
  border-radius: 3px;
  background-image: url('../img/progress.png');
  background-repeat: repeat-y;
  background-position: 50% 100%;
  background-size: contain;

  @include min(768) {
    top: 50vh;
    right: 30px;
    transform: translateY(-50%);
  }


  &.fixed {
    opacity: 1;
  }
}

.products__right-progress-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  min-height: 15px;
  border-radius: 3px;
  background-color: #fff;
}

.products__right-canvas-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  max-width: 620px;
  padding: 0 10px;
  transition: opacity .5s ease-in-out, transform .01s ease-in-out .51s;
  transform: translateY(100%);
  opacity: 0;

  @include min(768) {
    bottom: 20px;
    padding: 0 20px;
  }
  @include min(1024) {
    bottom: 28px;
    max-width: 580px;
    padding: 0 32px;
  }


  &.active {
    transition: opacity .5s ease-in-out .5s, transform .65s ease-in-out .5s;
    transform: translateY(0);
    opacity: 1;
  }
}

.products__right-canvas {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  img {
    width: 100%;
  }

  canvas {
    display: block;
    width: 100%;
    outline: 2px solid lightgreen;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}

.products__right-temp {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 80px 60px;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
