mixin input(text, placeholderText)
  .input
    label.custom__label= text
    .custom__field-wrapper
      input(type='text' placeholder=placeholderText required).custom__field
    .custom__error Поле не може бути пустим

//begin checkout-personal
.checkout-personal
  h4.h4.checkout-personal__title Особисті дані:
  //begin checkout-personal__content
  .checkout-personal__content
    +input('Ваше ім’я *', 'Ваше ім’я')
    +input('Ваше прізвище *', 'Ваше прізвище')
    +input('Email адреса *', 'Email')
    +input('Ваш номер *', '+38 (000) 000 00 00')
  //end checkout-personal__content
//end checkout-personal