//begin checkout-total
form.checkout-total
  //begin checkout-total__top
  .checkout-total__top
    h3.h3.checkout-total__title До сплати
    //begin checkout-total__rows
    .checkout-total__rows
      .checkout-total__row
        span.b-m-sb.checkout-total__row-text Товарiв на суму
        span.b-m-sb.checkout-total__row-price $438
      .checkout-total__row
        span.b-m-sb.checkout-total__row-text Збiрка
        span.b-m-sb.checkout-total__row-price Безкоштовно
      .checkout-total__row
        span.b-m-sb.checkout-total__row-text Доставка
        span.b-m-sb.checkout-total__row-price Безкоштовно
    //end checkout-total__rows

    //begin checkout-total__footer
    .checkout-total__footer
      .h3 Разом
      .h3 $438
    //end checkout-total__footer

    button(disabled).btn.checkout-total__btn Підтвердити замовлення
    //button.btn.checkout-total__btn Підтвердити замовлення
  //end checkout-total__top

  //begin checkout-total__info
  .checkout-total__info
    .b-sb.checkout-total__info-title Умови оплати та доставки
    .b-s.checkout-total__info-text Отримання замовлення від 5 000₴ тільки за паспортом (Закон від 06.12.2019 №361-IX). Підтверджуючи замовлення, я приймаю умови користувальницької угоди
    .b-s.checkout-total__info-text Отримати безкоштовну консультацію можна за телефоном 0(44) 360 87 89
  //end checkout-total__info
//end checkout-total