//begin checkout-delivery
.checkout-delivery
  h4.h4.checkout-delivery__title Оберіть зручний спосіб доставки:

  //begin checkout-delivery__content
  .checkout-delivery__content
    //begin checkout-delivery__item
    label.checkout-delivery__item
      input(type='radio' name='delivery')
      .checkout-delivery__row
        .checkout-delivery__item-img
          svg(xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='')
            rect(width='64' height='64' rx='3' fill='#0D0D0D')
            path(d='M27.1527 16V37.6413L34.268 26.6519H41.6324L35.1461 35.4519L42.2191 48H35.2305L31.0871 40.7991L25.8566 48H21V16H27.1527Z' fill='')
        .checkout-delivery__item-title
          .b-m-sb Доставка kupistul.ua
        .checkout-delivery__item-descr
          .b-s Доставимо, як тільки замовлення буде готове
        .checkout-delivery__item-price
          .b-sb Безкоштовно
    //end checkout-delivery__item

    //begin checkout-delivery__item
    label.checkout-delivery__item
      input(type='radio' name='delivery' checked)
      .checkout-delivery__row
        .checkout-delivery__item-img
          svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none')
            g(clip-path='url(#clip0_862_3855)')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M25.6413 9.47444C25.7381 9.44359 25.8654 9.50528 25.9927 9.67492C25.9927 9.67492 25.9927 9.67492 31.7479 15.3604C32.0841 15.6997 32.0841 16.2137 31.7479 16.4656C31.7479 16.4656 31.7479 16.4656 25.9927 22.2385C25.8654 22.4081 25.7381 22.4492 25.6413 22.3978C25.5445 22.3464 25.4834 22.1973 25.4834 21.9814V9.84456C25.4834 9.6338 25.5445 9.50528 25.6413 9.47444Z' )
              path(fill-rule='evenodd' clip-rule='evenodd' d='M15.7962 0H16.2036L16.5958 0.164499C16.5958 0.164499 16.5958 0.164498 22.5191 6.10699C22.7737 6.44626 22.6871 6.70329 22.2644 6.70329C22.2644 6.70329 22.2644 6.70329 19.8095 6.70329C19.3868 6.70329 19.0507 7.04257 19.0507 7.46924C19.0507 7.46924 19.0507 7.46924 19.0507 11.8798C19.0507 12.3065 18.7094 12.6458 18.2001 12.6458C18.2001 12.6458 18.2001 12.6458 13.8862 12.6458C13.4635 12.6458 13.1223 12.3065 13.1223 11.8798C13.1223 11.8798 13.1223 11.8798 13.1223 7.46924C13.1223 7.04257 12.7861 6.70329 12.3583 6.70329H9.73534C9.31261 6.70329 9.22603 6.44626 9.48069 6.10699C9.48069 6.10699 9.48069 6.10699 15.4091 0.164499L15.7962 0Z' )
              path(fill-rule='evenodd' clip-rule='evenodd' d='M6.51664 9.34492C6.6236 9.39633 6.68981 9.5454 6.68981 9.76131V22.1501C6.68981 22.366 6.6236 22.4945 6.51664 22.5356C6.41478 22.5767 6.26708 22.5356 6.09392 22.4071C6.09392 22.4071 6.09391 22.4071 0.252109 16.4646C-0.0840364 16.2127 -0.0840364 15.6987 0.252109 15.3594C0.252109 15.3594 0.25211 15.3594 6.09392 9.50428C6.26708 9.33464 6.41478 9.29352 6.51664 9.34492Z' )
              path(fill-rule='evenodd' clip-rule='evenodd' d='M13.8866 19.0977C13.8866 19.0977 13.8866 19.0977 18.2004 19.0977C18.7097 19.0977 19.051 19.4369 19.051 19.8636C19.051 19.8636 19.051 19.8636 19.051 24.5312C19.051 25.0401 19.3871 25.3794 19.8099 25.3794H22.0967C22.5194 25.3794 22.6875 25.6313 22.3513 25.8883C22.3513 25.8883 22.3513 25.8883 16.5961 31.7434C16.4229 31.9131 16.2141 32.0005 16.0002 32.0005C15.7914 32.0005 15.5775 31.9131 15.4094 31.7434C15.4094 31.7434 15.4094 31.7434 9.65418 25.8883C9.31294 25.6313 9.48101 25.3794 9.90374 25.3794C9.90374 25.3794 9.90374 25.3794 12.3586 25.3794C12.7864 25.3794 13.1226 25.0401 13.1226 24.5312C13.1226 24.5312 13.1226 24.5312 13.1226 19.8636C13.1226 19.4369 13.4638 19.0977 13.8866 19.0977Z')
        .checkout-delivery__item-title
          .b-m-sb Самостійно з Нової Пошти
        .checkout-delivery__item-descr
          .b-s Відправимо завтра
        .checkout-delivery__item-price
          .b-sb 69 ₴
    //end checkout-delivery__item

    //begin checkout-delivery__item
    label.checkout-delivery__item
      input(type='radio' name='delivery')
      .checkout-delivery__row
        .checkout-delivery__item-img
          svg(xmlns='http://www.w3.org/2000/svg' width='50' height='16' viewBox='0 0 50 16' fill='none')
            g(clip-path='url(#clip0_862_3845)')
              path(d='M37.85 6.38316C36.675 5.97053 36.3083 5.72632 36.3083 5.28C36.3083 4.78316 36.7167 4.48842 37.4417 4.48842C38.0333 4.48842 38.625 4.65684 39.0667 4.83368L39.2583 2.67789C38.7167 2.52632 38.0583 2.40842 37.3417 2.40842C34.9667 2.40842 33.4417 3.77263 33.4417 5.57474C33.425 6.72 34.1833 7.80632 36.1667 8.48842C37.2833 8.86737 37.575 9.10316 37.575 9.59158C37.575 10.0884 37.2 10.4 36.3 10.4C35.425 10.4 34.2917 10.0042 33.7333 9.66737L33.2083 11.8232C33.9333 12.2189 35.0417 12.4968 36.3083 12.4968C39.0583 12.4968 40.4583 11.1747 40.4583 9.36421C40.4417 7.94105 39.6833 7.01474 37.85 6.38316ZM45.0583 10.0463C44.1583 10.0463 43.8833 9.51579 43.8833 8.34526V0L40.9667 0.673684V2.61895H39.8583L39.6583 4.83368H40.975V8.78316C40.975 10.1474 41.25 11.0737 41.8 11.6547C42.2667 12.1516 43.0667 12.4884 44.025 12.4884C44.8667 12.4884 45.5667 12.3874 45.9583 12.2274L45.9417 9.95368C45.725 9.99579 45.4333 10.0379 45.0583 10.0463ZM44.1167 4.84211H45.9417V2.61895H44.1167V4.84211ZM11.0417 7.62947C10.9833 6.14737 10.9333 4.35368 10.9333 2.56H10.875C10.4833 4.13474 9.95 5.89474 9.45833 7.33474L7.90833 12.1516H5.66667L4.30833 7.36842C3.89167 5.92 3.45833 4.16 3.15833 2.55158H3.125C3.05 4.21053 2.99167 6.12211 2.9 7.66316L2.675 12.3453H0L0.808333 0.00842105H4.64167L5.88333 4.12632C6.275 5.54947 6.675 7.09895 6.95833 8.53895H7.01667C7.375 7.11579 7.80833 5.47368 8.225 4.10947L9.58333 0.00842105H13.3417L14.0417 12.3453H11.225L11.0417 7.62947ZM26.8167 8.42105C26.9167 9.66737 28.125 10.2568 29.525 10.2568C30.5417 10.2568 31.3583 10.1221 32.175 9.86105L32.5667 11.8989C31.5917 12.2947 30.4 12.4884 29.1 12.4884C25.85 12.4884 23.9917 10.5937 23.9917 7.56211C23.9917 5.11158 25.5 2.4 28.825 2.4C31.925 2.4 33.0917 4.82526 33.0917 7.22526C33.0917 7.73895 33.0333 8.19368 32.9917 8.41263L26.8167 8.42105ZM30.325 6.35789C30.325 5.62526 30.0083 4.40421 28.6417 4.40421C27.3917 4.40421 26.8833 5.54947 26.8083 6.35789H30.325Z')
              path(d='M47.9832 0.017058L49.9999 3.73074L47.9832 7.46127H45.9415L47.9582 3.73074L45.9332 0.017058H47.9832C47.9832 0.00863692 47.9832 0.00863692 47.9832 0.017058ZM23.0249 16.0002H14.8249V13.9455H23.0249V16.0002ZM17.2332 8.41285C17.3332 9.65916 18.5415 10.2486 19.9415 10.2486C20.9582 10.2486 21.7749 10.1139 22.5915 9.85285L22.9832 11.8907C22.0082 12.2865 20.8165 12.4802 19.5165 12.4802C16.2665 12.4802 14.4082 10.5855 14.4082 7.5539C14.4082 5.10337 15.9165 2.39179 19.2415 2.39179C22.3415 2.39179 23.5082 4.81706 23.5082 7.21706C23.5082 7.73074 23.4499 8.18548 23.4082 8.40443H17.2332V8.41285ZM20.7415 6.34969C20.7415 5.61706 20.4249 4.39601 19.0582 4.39601C17.8082 4.39601 17.2999 5.54127 17.2165 6.34969H20.7415Z')
        .checkout-delivery__item-title
          .b-m-sb Кур’єром Meest Express
        .checkout-delivery__item-descr
          .b-s Відправимо завтра
        .checkout-delivery__item-price
          .b-sb 36 ₴
    //end checkout-delivery__item

    //begin checkout-delivery__item
    label.checkout-delivery__item
      input(type='radio' name='delivery')
      .checkout-delivery__row
        .checkout-delivery__item-img
          svg(xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none')
            rect(width='64' height='64' rx='3' fill='#0D0D0D')
            path(d='M48 41.1948L32.0519 16L16 41.1948H21.4026L32.0519 24.4156L39.4286 36.2078H32.4156L29.3506 41.1948H48Z')
            path(d='M18.8057 47.221L31.9485 26.5977L34.6498 30.7535L27.3251 42.286H42.1823L45.1953 47.221H18.8057Z')
        .checkout-delivery__item-title
          .b-m-sb Самостійно з Автолюкс
        .checkout-delivery__item-descr
          .b-s Відправимо завтра
        .checkout-delivery__item-price
          .b-sb 20 ₴
    //end checkout-delivery__item

    //begin checkout-delivery__item
    label.checkout-delivery__item
      input(type='radio' name='delivery')
      .checkout-delivery__row
        .checkout-delivery__item-img
          svg(xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none')
            rect(width='64' height='64' rx='3' fill='#0D0D0D')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M35.0864 40.7577C35.0333 40.2613 35.3353 37.8183 35.3353 37.8183C35.3353 37.8183 35.9421 37.9197 36.5277 37.9842C37.1133 38.0487 38.0554 38.0998 38.0554 38.0998C38.0554 38.0998 37.5474 39.9328 37.8424 40.3512C38.5243 41.3183 42.2515 43.7066 43.1061 44.6652C43.5357 45.0914 43.9719 45.5049 44.5055 45.8773C44.8827 46.197 46.1 46.2338 46.4201 46.5536C46.6342 46.7846 46.8961 47.4578 46.7647 47.5796C46.675 47.6627 44.8303 47.703 44.5055 47.6448C44.1534 47.6448 43.7318 47.3063 43.7318 47.3063C43.7318 47.3063 43.4699 47.5796 43.1061 47.3862C42.4651 47.0677 42.5609 46.4104 42.1866 45.8773C41.9727 45.6643 38.8403 43.6096 36.8218 42.4739C35.0901 41.4995 35.1671 41.5135 35.0864 40.7577ZM22.6308 34.4334C22.2555 34.1007 20.8689 35.2845 20.4726 35.1992C20.0762 35.1138 20.4639 34.1359 20.1127 34.1954C19.6365 34.2762 19.5095 35.3878 19.0818 35.4741C18.3921 35.7327 18 34.7026 18 33.4729C18 32.2432 18.4385 30.9033 19.932 30.0453C21.4256 29.1873 23.6373 28.9688 25.3534 29.543C26.9819 28.6735 29.1244 26.1497 33.8964 26.0318C38.6683 25.9138 40.4549 28.2923 41.4692 27.7228C42.4835 27.1534 42.8269 25.8693 42.6062 24.9101C42.1835 23.0728 41.3636 22.0737 40.7075 20.4376C40.2955 19.411 40.2729 18.055 40.7919 17.0606C41.0247 16.6189 41.5902 16.1037 42.4429 16.0087C43.2955 15.9136 43.5201 16.6284 44.1168 16.8234C44.7136 17.0184 45.9891 17.1384 46.0887 17.5921C46.1884 18.0457 44.6579 18.4023 44.3109 18.3651C43.4983 18.2783 42.9855 18.8236 43.0296 19.7872C43.082 21.0125 43.3708 21.45 44.5031 23.1941C45.6354 24.9383 45.6251 27.8384 44.179 29.8619C43.7229 30.453 43.2375 30.9552 42.9157 31.6311C42.6564 32.1726 42.9157 31.0814 42.9157 33.2426C42.9157 35.4038 41.8235 36.4441 40.3963 36.9008C38.4748 37.5157 36.8155 37.2857 35.1186 37.0862C32.7704 36.8101 30.933 36.8424 29.974 37.0862C29.1429 37.2983 26.5417 38.7624 26.2216 39.4437C26.0517 39.8115 25.1336 43.6396 24.9654 44.4804C24.8966 44.8265 24.9353 45.5155 24.7747 45.8223C24.5989 46.163 22.4584 47.5094 21.7318 47.7858C21.397 47.9135 20.7209 48.0768 20.6407 47.9598C20.1671 47.4161 20.1687 47.2901 21.5449 46.2991C21.0642 45.3044 22.4511 45.0616 22.8589 44.5711C23.304 44.0375 24.1114 38.2285 24.3882 37.472C24.665 36.7154 25.7454 36.455 26.1834 35.782C25.9762 35.5433 25.6892 35.6708 24.9303 35.8828C24.2792 36.0657 22.9195 36.5491 22.6308 36.3074C22.3422 36.0657 23.0061 34.7661 22.6308 34.4334Z')
        .checkout-delivery__item-title
          .b-m-sb Самовивіз Делівері
        .checkout-delivery__item-descr
          .b-s Відправимо 5 жовтня
        .checkout-delivery__item-price
          .b-sb 29 ₴
    //end checkout-delivery__item
  //end checkout-delivery__content

  //begin checkout-delivery__address
  .checkout-delivery__address
    .select
      label.custom__label Місто *
      .custom__field-wrapper
        select.custom__field
          option(value='placeholder') Місто
          option(value='#') Київ
          option(value='#') Львів
          option(value='#') Харків
      .custom__error Поле не може бути пустим

    .select
      label.custom__label Номер відділення *
      .custom__field-wrapper
        select.custom__field
          option(value='placeholder') Оберiть відділення
          option(value='#') Номер #1
          option(value='#') Номер #2
          option(value='#') Номер #3
      .custom__error Поле не може бути пустим
  //end checkout-delivery__address
//end checkout-delivery