.about-categories {
  padding-top: 20px;
  padding-bottom: 70px;
  background-color: #0d0d0d;

  @include min(1024) {
    padding-bottom: 130px;
  }
}

.about-categories__header {
  padding-bottom: 40px;
  text-align: center;

  @include min(1024) {
    padding-bottom: 60px;
  }
}

.about-categories__content {
  display: flex;
  flex-direction: column;

  @include min(1024) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about-categories__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 420px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;

  @include min(768) {
    min-height: 600px;
    padding: 60px;
  }
  @include min(1024) {
    aspect-ratio: 1/1;
    width: calc(50% - 15px);
  }

  &:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .btn {
    position: relative;
    z-index: 1;

    &:hover {
      & + .about-categories__item-img img {
        transform: scale(1.1);
      }
    }
  }
}

.about-categories__item-title {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;

  @include min(1024) {
    margin-bottom: 10px;
  }
}

.about-categories__item-descr {
  position: relative;
  z-index: 1;
  margin-bottom: 32px;
}

.about-categories__item-img {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
    object-fit: cover;
    object-position: center;
  }
}
