include ../elements/cookies
//begin footer
footer.footer.wrapper
  //begin footer-top
  .footer-top
    //begin footer-top__left
    .footer-top__left
      a(href="/").footer-top__logo
        img(src="assets/img/logo.svg", alt="Adapwork")
      .footer-top__text.b-s Ми розуміємо вимоги сучасного світу, тому оснащуємо наші вироби передовими технологіями для створення ефективного та адаптивного робочого простору.
    //end footer-top__left

    //begin footer-top__middle
    .footer-top__middle
      ul.footer-top__menu.footer-top__menu--lg
        li.footer-top__menu-item.cta
          a(href="/").footer-top__menu-link ЕРГОНОМІЧНІ КРІСЛА
        li.footer-top__menu-item.cta
          a(href="/").footer-top__menu-link СМАРТ СТОЛИ
        li.footer-top__menu-item.cta
          a(href="/").footer-top__menu-link АКСЕСУАРИ
      ul.footer-top__menu
        li.footer-top__menu-item.cta
          a(href="/").footer-top__menu-link ЗНАЙТИ МАГАЗИН
        li.footer-top__menu-item.cta
          a(href="/").footer-top__menu-link ПРО ADAPWORK©
        li.footer-top__menu-item.cta
          a(href="/").footer-top__menu-link ПІДТРИМКА
    //end footer-top__middle

    //begin footer-top__right
    .footer-top__right
      ul.footer-top__menu.footer-top__menu--socials
        li.footer-top__menu-item.cta
          a(href="/" target="_blank" rel="nofollow noopener noreferrer").footer-top__menu-link INSTAGRAMM
        li.footer-top__menu-item.cta
          a(href="/" target="_blank" rel="nofollow noopener noreferrer").footer-top__menu-link YOUTUBE
    //end footer-top__right
  //end footer-top
  //begin footer-bottom
  .footer-bottom
    .footer-bottom__left
      .footer-bottom__text.cta ADAPWORK© – 2023
    .footer-bottom__middle
      a(href="/").footer-bottom__text.cta ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ
    .footer-bottom__right
      .footer-bottom__text.cta
        | POWERED BY
        |
        a(href="/" target="_blank" rel="nofollow noopener noreferrer") THETHINKER’S
  //end footer-bottom
//end footer