//begin header
#header.header.wrapper
  //begin logo
  a(href="/").header__logo
    img(src="assets/img/logo.svg", alt="Adapwork")
  //end logo

  //begin header-models
  .header__models
    ul.header-models
      li.header-models__item
        a(href="/").header-models__link.active ergochairs
      li.header-models__item
        a(href="/").header-models__link Smartdesks
      li.header-models__item
        a(href="/").header-models__link аксесуари
  //end header-models

  //begin header-nav
  ul.header__nav.header-nav
    li.header-nav__item
      a(href="/").header-nav__link про adapwork©
    li.header-nav__item
      a(href="/").header-nav__link знайти магазин
  //end header-nav

  //begin header__right
  .header__right
    //begin header__langs
    .header__langs.dropdown
      button.dropdown__button укр
      ul.dropdown__list
        li.dropdown__list-item.dropdown__list-item--active(data-value='укр')
          | укр
        li.dropdown__list-item(data-value='eng') eng
        li.dropdown__list-item(data-value='рус') рус
      input.dropdown__input--hidden(type='text' value='')
    //end header__langs

    //begin header-cart
    .header__cart.header-cart
      a(href="/").header-cart__link корзина
      span.header-cart__count [0]
    //end header-cart
  //end header__right

  //begin header__right-m
  .header__right-m
    include ../elements/mobile-menu.pug

    //begin header__menu-btn
    .header__menu-btn
      .header__menu-btn-icon
      .header__menu-btn-text меню

    //end header__menu-btn

    //begin header__cart-btn
    a(href="/").header__cart-btn
      .header__cart-btn-icon
        +svg('cart')
      .header__cart-btn-count [0]

    //end header__cart-btn
  //end header__right-m
//end header
