// begin cookies
.cookies#cookies
  .cookies__text.b-m-sb 
    | Ми використовуємо файли cookies для безперебійної роботи веб-сайту і створення актуальних пропозицій з урахуванням Ваших потреб. Дякуємо за довіру і вибір ADAPWORK
  
  button.btn.btn--dark.cookies__btn Без проблем, ок
// end cookies