//begin filter-panel
.filter-panel
  .filter-panel__btn.filter-panel__btn--filter.active
    +svg('filter')
  .filter-panel__btn.filter-panel__btn--sort
    +svg('sort')
  .filter-panel__delimiter
  .filter-panel__btn.filter-panel__btn--position
    +svg('list')
  .filter-panel__btn.filter-panel__btn--position.active
    +svg('grid')
//end filter-panel