//begin mobile-menu
#mobile-menu.mobile-menu
  //begin mobile-menu__models
  ul.mobile-menu__models
    li.mobile-menu__models-item
      a(href="/").mobile-menu__models-link ErgoChairs
    li.mobile-menu__models-item
      a(href="/").mobile-menu__models-link SmartDesks
    li.mobile-menu__models-item
      a(href="/").mobile-menu__models-link Аксесуари
  //end mobile-menu__models

  //begin mobile-menu__nav
  ul.mobile-menu__nav
    li.mobile-menu__nav-item
      a(href="/").mobile-menu__nav-link ЗНАЙТИ МАГАЗИН
    li.mobile-menu__nav-item
      a(href="/").mobile-menu__nav-link ПРО ADAPWORK©
    li.mobile-menu__nav-item
      a(href="/").mobile-menu__nav-link Підтримка
  //end mobile-menu__nav

  //begin mobile-menu__footer
  .mobile-menu__footer
    //begin mobile-menu__langs
    ul.mobile-menu__langs
      li.mobile-menu__langs-item
        input(type="radio" name="langs" checked)
        span.mobile-menu__langs-link укр
      li.mobile-menu__langs-item
        input(type="radio" name="langs")
        span.mobile-menu__langs-link eng
      li.mobile-menu__langs-item
        input(type="radio" name="langs")
        span.mobile-menu__langs-link рус
    //end mobile-menu__langs
  //end mobile-menu__footer
//end mobile-menu