*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0;
  outline: none;
}

textarea {
  resize: none;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;
}

.wrapper {
  position: relative;
  width: 100%;
  padding: 0 10px;

  @include min(768) {
    padding: 0 20px;
  }
  @include min(1024) {
    padding: 0 32px;
  }
}
