//begin about section
#about-section.about-section.wrapper
  //begin split-text
  .split-text
    h2.about__text ADAPWORK© — сучасний бренд по розробці офісних девайсів: смарт столів та ергономічних крісел. Наша філософія відбита у назві: речі мають адаптуватися під людей, а не навпаки. Ми створюємо робоче середовище, яке підвищує продуктивність, та підкреслює вашу особистість.

    //begin about-section__images--down
    .about-section__images.about-section__images--down
      .about-section__image.about-section__image--sm
        img(src='assets/img/about-section/about-02.jpg' alt='product example')
      .about-section__image.about-section__image--lg
        img(src='assets/img/about-section/about-04.jpg' alt='product example')
      .about-section__image.about-section__image--lg
        img(src='assets/img/about-section/about-06.jpg' alt='product example')
    //end about-section__images--down

    //begin about-section__images--up
    .about-section__images.about-section__images--up
      .about-section__image.about-section__image--lg
        img(src='assets/img/about-section/about-01.jpg' alt='product example')
      .about-section__image.about-section__image--sm
        img(src='assets/img/about-section/about-03.jpg' alt='product example')
      .about-section__image.about-section__image--sm
        img(src='assets/img/about-section/about-05.jpg' alt='product example')
    //end about-section__images--up
  //end split-text

  //begin bifma
  .bifma
    .bifma__cert
      img(src='assets/img/bifma-cert.svg' alt='bifma certificate')
    .bifma__text Всі ергономічні крісла та смарт столи ADAPWORK© сертифіковані BIFMA – Асоціацією виробників меблів для бізнесу. Тому офісні девайси ADAPWORK© відповідають міжнародним стандартам не на словах, а на ділі.
  //end bifma
//end about section
