//begin accessories
.accessories.wrapper
  .accessories__inner
    h2.h2.accessories__title Набiр аксесуарiв
    p.b-caps.accessories__text АКСЕСУАРИ ADAPWORK© ЗНАЧНО РОЗШИРЮЮТЬ МОЖЛИВОСТІ ВАШИХ ЕРГОНОМІЧНИХ КРІСЕЛ ТА СМАРТ СТОЛІВ
    a(href="/").btn explore collection
//end accessories