//begin chairs section
.products.products--chairs
  //begin products__left
  .products__left.products__left--tables
    h2.h2.products__title Смарт столи
    p.b-caps.products__text ІННОВАЦІЙНІ СТОЛИ ADAPWORK© ДОВОДЯТЬ, ЩО ВОНИ СПРАВДІ “СМАРТ”
    a(href="/").btn explore collection
  //end products__left

  //begin products__right
  .products__right
    #tables-wrapper.products__right-sequence
      #tables-progress.products__right-progress
        #tables-progress__scale.products__right-progress-scale

      .products__right-canvas
        canvas#canvas-scroll-tables
        .h3.products__right-canvas-text.active#tables-text-01 Смарт столи ADAPWORK© легко інтегруються в дизайн вашої оселі чи офісу. Обирайте колір стільниці та різні опори для стола за вашим смаком
        .h3.products__right-canvas-text#tables-text-02 Завдяки 4 кнопкам регулювання положення з функцією пам’яті, кожен член вашої родини може запрограмувати зручну висоту стола під себе - а він це запам’ятає
        .h3.products__right-canvas-text#tables-text-03 Столи ADAPWORK© справді «смарт». Залиште кнопочне керування в минулому, та керуйте смарт столом через зручну сенсорну панель
        .h3.products__right-canvas-text#tables-text-04 Надійна металева конструкція в основі смарт стола ADAPWORK©  забезпечує стійкість під час роботи, та гарантує довговічність вашому офісному девайсу
        .h3.products__right-canvas-text#tables-text-05 Швидкість підйому смарт стола ADAPWORK© – 25мм/секунду. Якби у світі столів були змагання на швидкість, ми знаємо, хто став би переможцем
  //end products__right
//end chairs section