//begin chairs section
.products.products--chairs
  //begin products__left
  .products__left.products__left--tables
    h2.h2.products__title Смарт столи
    p.b-caps.products__text ІННОВАЦІЙНІ СТОЛИ ADAPWORK© ДОВОДЯТЬ, ЩО ВОНИ СПРАВДІ “СМАРТ”
    a(href="/").btn explore collection
  //end products__left

  //begin products__right
  .products__right
    #tables-wrapper.products__right-sequence
      #tables-progress.products__right-progress
        #tables-progress__scale.products__right-progress-scale

      .products__right-canvas
        canvas#canvas-scroll-tables
        .h3.products__right-canvas-text.active#tables-text-01 #11111
        .h3.products__right-canvas-text#tables-text-02 #22222
        .h3.products__right-canvas-text#tables-text-03 #33333
        .h3.products__right-canvas-text#tables-text-04 #44444
        .h3.products__right-canvas-text#tables-text-05 #55555
        .h3.products__right-canvas-text#tables-text-06 #66666
  //end products__right
//end chairs section