//begin bifma section
#bifma-section.bifma-section.wrapper
  .bifma
    .bifma__cert
      img(src='assets/img/bifma-cert.svg' alt='bifma certificate')
    .bifma__text Всі ергономічні крісла та смарт столи ADAPWORK© сертифіковані BIFMA – Асоціацією виробників меблів для бізнесу. Тому офісні девайси ADAPWORK© відповідають міжнародним стандартам не на словах, а на ділі.
//end bifma section
