//begin chairs section
.products.products--chairs
  //begin products__left
  .products__left
    h2.h2.products__title Iнновацiйнi крiсла
    p.b-caps.products__text ADAPWORK© ПРЕЗЕНТУЄ КОЛЕКЦІЮ ЕРГОНОМІЧНИХ КРІСЕЛ З МАКСИМАЛЬНОЮ КІЛЬКІСТЮ РЕГУЛЮВАНЬ ДЛЯ ВАШОГО КОМФОРТУ.
    a(href="/").btn explore collection
  //end products__left

  //begin products__right
  .products__right
    #chairs-wrapper.products__right-sequence
      #chairs-progress.products__right-progress
        #chairs-progress__scale.products__right-progress-scale

      .products__right-canvas
        canvas#canvas-scroll-01
        .h3.products__right-canvas-text.active#products__right-canvas-text-01 ADAPWORK© – професійні крісла з першокласних матеріалів, здатних забезпечити максимальну зручність
        .h3.products__right-canvas-text#products__right-canvas-text-02 Дихаюча тканина та амортизувальні матеріали піклуються про ваш комфорт, а міцна конструкція відповідає за стійкість крісла
        .h3.products__right-canvas-text#products__right-canvas-text-03 Максимальна адаптивність – 14 точок регулювання налаштують різні ділянки ергономічного крісла ADAPWORK©: від висоти та глибини, до кута підголівника
        .h3.products__right-canvas-text#products__right-canvas-text-04 Сучасні механізми крісла протестовані на різні навантаження, аби впевнитися у їх витривалості та здатності забезпечувати комфорт на роки вперед
        .h3.products__right-canvas-text#products__right-canvas-text-05 Ергономічні крісла ADAPWORK© відповідають потребам IT-спеціалістів, геймерів, дизайнерів, та всіх, хто не шукає компромісів
  //end products__right
//end chairs section