//begin chairs section
.products.products--chairs
  //begin products__left
  .products__left
    h2.h2.products__title Iнновацiйнi крiсла
    p.b-caps.products__text ADAPWORK© ПРЕЗЕНТУЄ КОЛЕКЦІЮ ЕРГОНОМІЧНИХ КРІСЕЛ З МАКСИМАЛЬНОЮ КІЛЬКІСТЮ РЕГУЛЮВАНЬ ДЛЯ ВАШОГО КОМФОРТУ.
    a(href="/").btn explore collection
  //end products__left

  //begin products__right
  .products__right
    #sequence-container-01.products__right-sequence
      .products__right-canvas
        canvas#canvas-scroll-01
        .h3.products__right-canvas-text#products__right-canvas-text-01 ADAPWORK© – професійні крісла з першокласних матеріалів, здатних забезпечити максимальну зручність
    //.products__right-temp
    //  img(src="assets/img/temp-chairs.png" alt="adapwork chairs")
  //end products__right
//end chairs section