//begin hero
.hero.wrapper
  //begin hero__video-bg
  .hero__video-bg
    video(aria-hidden="true"
      src="assets/video/hero-video.mp4"
      loop
      preload="auto"
      autoplay
      muted
      playsinline)
  //end hero__video-bg

  //begin hero__content
  .hero__content
    .hero__subtitle professional chairs and SMART desk tables FOR PROFESSIONALS
    h2.hero__title Максимум регулювань.<br>Iнноваційний дизайн.<br>Винятковий комфорт.
  //end hero__content

  //begin hero__scroll
  .hero__scroll
    .hero__scroll-text
      | доторкнись до комфорту
    .hero__scroll-icon
  //end hero__scroll
//end hero