//begin inst section
.inst.wrapper
  .inst__content
    .inst__images
      a(href="/" target="_blank" rel="nofollow noopener noreferrer").inst__image
        img(src="assets/img/inst/inst-01.jpg" alt="inst")
      a(href="/" target="_blank" rel="nofollow noopener noreferrer").inst__image
        img(src="assets/img/inst/inst-02.jpg" alt="inst")
      a(href="/" target="_blank" rel="nofollow noopener noreferrer").inst__image
        img(src="assets/img/inst/inst-03.jpg" alt="inst")
      a(href="/" target="_blank" rel="nofollow noopener noreferrer").inst__image
        img(src="assets/img/inst/inst-04.jpg" alt="inst")
        span.b-sb +64

    .inst__text
      a(href="/" target="_blank" rel="nofollow noopener noreferrer").h3.inst__text-link Слідкуйте за нами в Інстаграмі @adapwork
//end inst section