//begin tables section
.products.products--tables
  //begin products__left
  .products__left
    h2.h2.products__title Смарт столи
    p.b-caps.products__text ІННОВАЦІЙНІ СТОЛИ ADAPWORK© ДОВОДЯТЬ, ЩО ВОНИ СПРАВДІ “СМАРТ”
    a(href="/").btn explore collection
  //end products__left

  //begin products__right
  .products__right
    .products__right-temp
      img(src="assets/img/temp-chairs.png" alt="adapwork tables")
  //end products__right
//end tables section