extends ../_template

block variables
  - let title       = 'Adapwork'
  - let description = 'Adapwork website'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main
      include ../sections/home-page/hero
      include ../sections/home-page/about
      include ../sections/home-page/bifma
      include ../sections/home-page/chairs
      include ../sections/home-page/tables
      include ../sections/home-page/accessories
      include ../sections/home-page/popular
      include ../sections/home-page/seo
      include ../sections/home-page/inst
    //end content

    include ../sections/footer
    include ../sections/basket
    include ../elements/chat
    include ../sections/scripts
