extends ../_template

block variables
  - let title       = 'Adapwork'
  - let description = 'Adapwork website'

block content
  .main-wrap#main-wrap
    include ../sections/header

    //begin content
    main.main
      .privacy
        //begin page-top
        .page-top.wrapper
          h1.h1.page-top__title Полiтика конфiденцiйностi
        //end page-top
        .privacy__info.wrapper
          .privacy__info-text
            .b-m 
              |Конфіденційність персональної інформації відвідувачів сайту kupistul.ua є надзвичайно важливою для нас. Порядок збору, використання і розголошення Адміністрацією сайту інформації про відвідувачів регулюється Політикою конфіденційності.
              br 
              |Дана Політика конфіденційності діє для всього сайту kupistul.ua. Щодо всіх питань, які стосуються політики конфіденційності, ви можете звернутися за контактними телефонами.
            .b-m 
              |Обсяг зібраних даних, які можуть прямо або опосередковано ідентифікувати вас, на сайті мінімізований. Сайт обмежується збором і обробкою інформації, яка є необхідною для забезпечення максимально комфортних умов використання сервісів сайту, а також надання якісних послуг з продажу і доставки товарів, які можна придбати на сайті kupistul.ua.
          h4.h4 Під час відвідування сайту або використання сервісів сайту користувачем відбувається збір і обробка певних даних з конкретною метою, а саме:
          ul.privacy__list 
            li.b-m сайт використовує загальноприйняті стандарти технологічного та операційного захисту інформації та персональних даних від втрати, неправильного використання, зміни або знищення;
            li.b-m особисті дані використовуються виключно для виконання наших зобов'язань перед покупцями, які купують товар на сайті;
            li.b-m доступ до ваших даних мають тільки уповноважені співробітники компанії, які безпосередньо працюють з оформленням вашого замовлення або вашим подальшим обслуговуванням;
            li.b-m діяльність Адміністрації сайту здійснюється відповідно до законодавства України. Будь-які претензії, суперечки, офіційні звернення будуть розглядатися виключно в порядку, передбаченому законодавством України.
            li.b-m Для видалення даних надішліть нам запит через форму зворотнього зв'язку на сторінці <a href="#">Контакти</a> (https://kupistul.ua/ua/kontakti) з позначкою "Видалення даних Facebook"
          .privacy__info-text
            .b-m Ця Політика конфіденційності може бути змінена Адміністрацією сайту в односторонньому порядку. Актуальна Політика конфіденційності, яка діє на сайті, відображається на цій сторінці.



      include ../sections/home-page/inst
    //end content

    include ../sections/footer
    include ../sections/basket
    include ../elements/chat
    include ../sections/scripts
