extends ../_template

block variables
  - let title       = 'Adapwork'
  - let description = 'Adapwork website'

mixin item(title)
  .support__faq-item
    .support__faq-item-header
      h4.h4.support__faq-item-title= title
      .support__faq-item-icon.support__faq-item-icon--open
        svg(xmlns='http://www.w3.org/2000/svg' width='28' height='11' viewBox='0 0 28 11' fill='none')
          path(d='M24.3536 0.146447C24.1583 -0.0488155 23.8417 -0.0488155 23.6464 0.146447L20.4645 3.32843C20.2692 3.52369 20.2692 3.84027 20.4645 4.03553C20.6597 4.2308 20.9763 4.2308 21.1716 4.03553L24 1.20711L26.8284 4.03553C27.0237 4.2308 27.3403 4.2308 27.5355 4.03553C27.7308 3.84027 27.7308 3.52369 27.5355 3.32843L24.3536 0.146447ZM23.5 0.5V8.5H24.5V0.5H23.5ZM22 10H0V11H22V10ZM23.5 8.5C23.5 9.32843 22.8284 10 22 10V11C23.3807 11 24.5 9.88071 24.5 8.5H23.5Z' fill='#F5F5F5')
      .support__faq-item-icon.support__faq-item-icon--close
        svg(xmlns='http://www.w3.org/2000/svg' width='28' height='11' viewBox='0 0 28 11' fill='none')
          path(d='M23.6464 10.8536C23.8417 11.0488 24.1583 11.0488 24.3536 10.8536L27.5355 7.67157C27.7308 7.47631 27.7308 7.15973 27.5355 6.96447C27.3403 6.7692 27.0237 6.7692 26.8284 6.96447L24 9.79289L21.1716 6.96447C20.9763 6.7692 20.6597 6.7692 20.4645 6.96447C20.2692 7.15973 20.2692 7.47631 20.4645 7.67157L23.6464 10.8536ZM24.5 10.5V2.5H23.5V10.5H24.5ZM22 0H0V1H22V0ZM24.5 2.5C24.5 1.11929 23.3807 0 22 0V1C22.8284 1 23.5 1.67157 23.5 2.5H24.5Z' fill='#4D4D4D')

    .support__faq-item-content
      .support__faq-item-content-text
        p.b-m Пориньте в крісло, створене для вашого тіла. Наш ергономічний шедевр забезпечує підтримку, на яку заслуговує ваш хребет, забезпечуючи вам комфорт і зосередженість протягом усього дня. Покращена постава: попрощайтеся з сутулістю. Наше крісло сприяє правильній поставі, зменшує навантаження на вашу спину та шию та допомагає вам підтримувати більш здорове положення.
        p.b-m Підвищення продуктивності: коли ви невимушені, ваш розум процвітає. Відчуйте підвищену продуктивність під час ефективної роботи, не відволікаючись від дискомфорту. Настроювана посадка: створіть крісло відповідно до своїх уподобань. Завдяки регульованим функціям, таким як висота, підлокітники та поперекова підтримка, ви контролюєте своє сидіння.

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main
      .support
        //begin page-top
        .page-top.wrapper
          h1.h1.page-top__title Виникли питання?
          .b-m-sb.page-top__subtitle Не шукайте далі – наша спеціальна команда підтримки клієнтів тут, щоб гарантувати, що ваш досвід роботи з нами буде винятковим.
        //end page-top

        //begin support__form
        form.support__form.wrapper
          .select
            label.custom__label тема звернення *
            .custom__field-wrapper
              select.custom__field(required)
                option(value='placeholder') Оберiть тему звернення
                option(value='#') Номер #1
                option(value='#') Номер #2
                option(value='#') Номер #3
            .custom__error Поле не може бути пустим

          .support__form-row
            .support__form-row-item
              .input
                label.custom__label Ваше ім’я *
                .custom__field-wrapper
                  input(type='text' placeholder='Ваше ім’я').custom__field
                .custom__error Поле не може бути пустим
            .support__form-row-item
              .input
                label.custom__label Ваше прiзвище
                .custom__field-wrapper
                  input(type='text' placeholder='Ваше прiзвище').custom__field
                .custom__error Поле не може бути пустим

          .support__form-row
            .support__form-row-item
              .input
                label.custom__label Email адреса *
                .custom__field-wrapper
                  input(type='text' placeholder='Email').custom__field
                .custom__error Поле не може бути пустим
            .support__form-row-item
              .input
                label.custom__label Ваш номер або месенжер *
                .custom__field-wrapper
                  input(type='text' placeholder='Телефон або месенжер (Телеграм, Вайбер, WhatsApp)').custom__field
                .custom__error Поле не може бути пустим

          .textarea
            label.custom__label текст повiдомлення *
            .custom__field-wrapper
              textarea(placeholder='Опишiть детально суть вашого звернення').custom__field
            .custom__error Поле не може бути пустим

          .support__form-row
            .support__form-row-item
              .b-s Натискаючи кнопку нижче, ви підтверджуєте, що прочитали і погодилися з нашою <a href="#" target="_blank">Політикою конфіденційності.</a>
            .support__form-row-item
              button.btn надiслати
        //end support__form


        //begin support__faq
        .support__faq.wrapper
          .support__faq-header
            .b-caps.support__faq-header-title або спробуйте знайти відповідь нижче

          +item("Де знайти iнструкцiю зi складання товарiв?")
          +item("Яка гарантiя?")
          +item("Продукцiя безпечна для здоров’я?")
          +item("Умови повернення та обмiну товару, якщо вiн не пiдiйшов?")
          +item("Доставка товару")
        //end support__faq

        //begin support__footer
        .support__footer.wrapper
          .cta.support__footer-text
            |не бачите відповіді на ваше запитання?
            br
            | Наш менеджер на зв'язку та готовий відповісти на ваші запитання у месенджерах:
          .support__footer-links
            a(href='#' target='_blank').support__footer-link
              +svg('tg')
            a(href='#' target='_blank').support__footer-link
              +svg('viber')
            a(href='#' target='_blank').support__footer-link
              +svg('whatsapp')


      include ../sections/home-page/inst
    //end content

    include ../sections/footer
    include ../sections/scripts
