.checkout-header {
  padding-top: 90px;
  padding-bottom: 30px;

  @include min(768) {
    padding-top: 140px;
  }
}

.checkout-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  @include min(1024) {
    padding-bottom: 120px;
  }
  @include min(1200) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.checkout-content__left {
  width: 100%;

  @include min(1200) {
    width: 50%;
    min-width: 720px;
    margin-right: auto;
  }
}

.checkout-content__left-footer {
  display: none;

  @include min(1200) {
    display: block;
    padding-top: 50px;
  }

  .btn {
    width: 100%;
  }
}
