//begin about-categories
.about-categories.wrapper
  .about-categories__header
    .b-caps.about-categories__header-title Знайомтеся з колекцією смарт столів та ергономічних крісел Adapwork©, зараз.
  .about-categories__content
    //begin about-categories__item
    .about-categories__item
      h2.h2.about-categories__item-title Iнновацiйнi крiсла
      .b-caps.about-categories__item-descr ADAPWORK© ПРЕЗЕНТУЄ КОЛЕКЦІЮ ЕРГОНОМІЧНИХ КРІСЕЛ З МАКСИМАЛЬНОЮ КІЛЬКІСТЮ РЕГУЛЮВАНЬ ДЛЯ ВАШОГО КОМФОРТУ.
      a(href="#").btn explore collection
      .about-categories__item-img
        img(src="assets/img/bg-about-categories-01@2x.jpg" alt="img")
    //end about-categories__item

    //begin about-categories__item
    .about-categories__item
      h2.h2.about-categories__item-title Смарт столи
      .b-caps.about-categories__item-descr ІННОВАЦІЙНІ СТОЛИ ADAPWORK© ДОВОДЯТЬ, ЩО ВОНИ СПРАВДІ “СМАРТ”
      a(href="#").btn explore collection
      .about-categories__item-img
        img(src="assets/img/bg-about-categories-02@2x.jpg" alt="img")
    //end about-categories__item
//end about-categories