//begin about-seo
.about-seo.wrapper
  .about-seo__item.about-seo__item--01
    .b-caps Де інновації зустрічаються з комфортом.
  .about-seo__item.about-seo__item--02
    .about-seo__item-block
      .b-m Не пам’ятаємо точно, як у нас виникла ідея створити сучасний український бренд комфортних офісних гаджетів, але, мабуть, в той момент ми сиділи на незручному кріслі чи за маленьким столом. З того самого часу ми одержимі ідеєю створення зручних меблів, які будуть адаптуватися під ваш комфорт.
    .about-seo__item-block
      .b-m Ми проводимо на кріслі та за столом більшу частину доби, тому наша місія - зробити цей час приємним і комфортабельним. Аби ви думали про дійсно важливі справи, а не про те, що крісло тисне на поперек, а стіл хитається, як човен у морі.
    .b-s.about-seo__item-footer Досліджуйте світ ADAPWORK і відкрийте нову еру продуктивності, комфорту та натхнення у вашому робочому середовищі.
  .about-seo__item.about-seo__item--03
    .about-seo__item-block
      h4.h4.about-seo__item-block-title Інновації
      .b-m Бренд Adapwork© – синонім інноваційності. Ми міксуємо сучасні технології з класичним дизайном, аби ви отримали максимальне задоволення від користування офісними девайсами.
    .about-seo__item-block
      h4.h4.about-seo__item-block-title Комфорт
      .b-m Ваш комфорт – наш пріоритет. Кожна деталь ергономічних крісел та смарт столів Adapwork© спроектована з думкою про вас, ваше здоров’я та зручність.
    .about-seo__item-block
      h4.h4.about-seo__item-block-title Стиль
      .b-m Функціональність має дружити з естетичністю, і ніяк не навпаки. Офісні девайси Adapwork© чудово доповнюють будь-який інтер’єр, та допомагають добре почуватися після довгих робочих сесій.
    .about-seo__item-block
      h4.h4.about-seo__item-block-title Адаптація
      .b-m У кожного свій смак та ритм життя. Офісні девайси Adapwork© адаптуються під ваші індивідуальні потреби, а вам залишиться хіба що адаптуватися до небаченого комфорту – віримо, ви впораєтесь.
    .about-seo__item-block
      h4.h4.about-seo__item-block-title Якість
      .b-m Замовляючи офісні девайси Adapwork© ви обираєте справжніх компаньйонів, які допомагатимуть вам в житті на довгі роки вперед.
  .about-seo__item.about-seo__item--04
    .b-caps EST. 2023
//end about-seo