//begin about-tabs
.about-tabs.wrapper
  .about-tab
    .about-tab__decor
    .h4.about-tab__number 1
    .about-tab__content
      h2.h2.about-tab__title Філософія
      .h3.about-tab__text Ми пишаємось своєю сертифікацією асоціації виробників меблів BIFMA. BIFMA створює та контролює різноманітні стандарти безпеки та екологічності меблевої продукції.
  .about-tab
    .about-tab__decor
    .h4.about-tab__number 2
    .about-tab__content
      h2.h2.about-tab__title Дизайн
      .h3.about-tab__text Одна справа, коли офісні девайси зручні і виконують свою функцію. Але зовсім інша справа – естетичне задоволення від ергономічного крісла, на якому сидиш, або від смарт стола, за яким працюєш чи граєш в ігри. Ми приділяємо дизайну наших виробів особливу увагу, бо речі мають не тільки задовольняти потреби, але і тішити око. В наших офісних девайсах винятковий комфорт зустрічається з незабутнім дизайном.
  .about-tab
    .about-tab__decor
    .h4.about-tab__number 3
    .about-tab__content
      h2.h2.about-tab__title Якість
      .h3.about-tab__text Ми пишаємось своєю сертифікацією асоціації виробників меблів BIFMA. BIFMA створює та контролює різноманітні стандарти безпеки та екологічності меблевої продукції.
  .about-tab
//end about-tabs