.product-360-header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  margin-bottom: -77px;
  border-bottom: 1px solid rgba(13, 13, 13, .05);

  &.product-360-header--white {
    border-bottom: 1px solid rgba(245, 245, 245, .25);

    .product-360-header__title,
    .product-360-header__price {
      color: #f5f5f5;
    }

    .product-360-header__nav-link {
      color: #f5f5f5;
    }
  }

  &.product-360-header--top {
    top: 56px;
    border-bottom: none;

    @include min(1024) {
      top: 80px;
    }

    &::before {
      position: absolute;
      top: 2px;
      left: 10px;
      width: calc(100% - 20px);
      height: 1px;
      content: '';
      background-color: rgba(245, 245, 245, .25);

      @include min(768) {
        left: 20px;
        width: calc(100% - 40px);
      }
      @include min(1024) {
        left: 30px;
        width: calc(100% - 60px);
      }
    }
  }
}

/* begin LEFT */
.product-360-header__left {
  display: flex;
  align-items: center;
  width: 100%;

  @include min(1024) {
    width: auto;
  }
}

.product-360-header__back {
  display: flex;
  align-items: center;
}

.product-360-header__back-icon {
  flex: none;
  margin-right: 16px;

  svg {
    fill: #f5f5f5;
    width: 32px;
    height: 10px;
  }
}

.product-360-header__back-text {
  white-space: nowrap;
  color: #f5f5f5;
}

.product-360-header__title,
.product-360-header__price {
  margin: 0;
  padding-right: 24px;
  color: #0d0d0d;

  @include min(1024) {
    padding-right: 32px;
  }
}

.product-360-header__price {
  margin-left: auto;
  white-space: nowrap;
}

/* end   LEFT */
/* begin RIGHT */
.product-360-header__right {
  display: flex;
  align-items: center;

  .btn {
    height: 44px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.product-360-header__nav-list {
  display: none;

  @include min(1024) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.product-360-header__nav-item {
  padding-right: 32px;
}

.product-360-header__nav-link {
  transition: opacity .3s ease;
  text-decoration: none;
  opacity: .5;
  color: #0d0d0d;

  &:hover,
  &.active {
    opacity: 1;
  }
}

/* end   RIGHT */
